@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TRAVEL</h1>
    <p>Permite administrar el inventario de libros, autores y editoriales.Construida con ASP.NET Core</a>.</p>
</div>
